doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;')
    |   
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    |   
    title


    style(type='text/css').
      *{
      padding: 0;
      margin: 0;
      }
      body{
      text-align: center;
      padding: 10px;
      }
      h2{
      font-size: 18px;;
      font-weight: bold;
      margin-bottom: 13px;
      }
      h3{
      font-size: 14px;;
      font-weight: normal;
      margin-bottom: 5px;
      }
      #result{
      font-size: 12px;;
      color: gray;
      border:1px solid #aeaeae;
      border-radius: 5px;
      padding: 10px;
      text-align: left;
      margin-bottom: 13px;
      }
      #myVideo{
      width: 300px;
      
      box-shadow: 0 0 3px gray;
      border-radius: 5px;;
      margin-bottom: 13px;
      }
      #changeButton{
      background: #7abcff;
      background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));
      background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
      background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
      background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
      background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 );
      padding: 5px 12px;
      font-weight: bold;
      border: 1px solid blue;
      font-size: 16px;
      text-shadow: 0 0 3px #fff;
      border-radius: 4px;
      margin-bottom: 13px;
      }
      #result_use{
      font-size: 12px;;
      color: gray;
      border:1px solid #aeaeae;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 13px;
      background: rgb(255, 251, 242);
      }
      #nowcolor{
      width: 100px;
      height: 50px;
      border: 2px solid #ddd;
      background-color:#000000;
      }
  body
    h2 &#x5185;&#x30AB;&#x30E1;&#x30E9;&#x30FB;&#x5916;&#x30AB;&#x30E1;&#x30E9;&#x5207;&#x308A;&#x66FF;&#x3048;&#x30C6;&#x30B9;&#x30C8;
    h3 &#x30AB;&#x30E1;&#x30E9;&#x30FB;&#x30DE;&#x30A4;&#x30AF;&#x30EA;&#x30B9;&#x30C8;
    #result
    video#myVideo(autoplay='1')
    button#changeButton &#x30AB;&#x30E1;&#x30E9;&#x5207;&#x308A;&#x66FF;&#x3048;
    canvas#c
    input(type='button', value='copy frame', onclick='copyFrame()')
    #nowcolor(style="background-color: #ff0000")
    #debug aa

    h3 &#x4F7F;&#x7528;&#x30AB;&#x30E1;&#x30E9;ID
    #result_use
  script(src='javascripts/jquery-2.0.0.min.js')
    //script(src='//code.jquery.com/jquery-1.11.0.min.js')
  script(src='javascripts/cameraSam.js')
