extends layout

block content
  h1 &nbsp;

  div#chatRogo_m
   a(href='/')
    img(src='images/rogo.png', alt='サンプル')


  //label(for='name') 名前
  //input(type='text',id='name')
  //button#send2 送信
  
  div#textform_m
   label(for='text') 内容
   input(type='text',id='text_m',size="50", maxlength="100",placeholder="つぶやきを入力してください")
   button#send_m 送信

  div#hukidasiList_m 



  div#chatAvatar_m
   div#chatAvatarMe_m
   div#chatAvatarOther_m

  div#chatName_m
  



  #messages
  .list_m
  
  
  input#camaraSwitch(type='button',value='copy frame',style="cursor:pointer;WIDTH: 200px; HEIGHT: 200px")
  
  
  div#cameraSpace
   video#myVideo(autoplay='1')
   canvas#c(style="border: 5px solid #ccc;")
   div
    button#changeButton &#x30AB;&#x30E1;&#x30E9;&#x5207;&#x308A;&#x66FF;&#x3048;
    input#copy(type='button', value='copy frame')
    
    input#see(type='button', value='ghhh')
   #nowcolor(style="background-color: #ff0000")
   #debug aa
  
  
  
  
  
  
  //div#backimage
  // img(src='images/backimage.png', alt='サンプル',id='ava0' )


  script(src='javascripts/jquery-2.0.0.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='javascripts/chat-m.js')
  script(src='javascripts/jscolor.js')

