extends layout

block content
  div &nbsp;
   br
   br
   br
   br
   br

  div#chatRogo
   a(href='/')
    img(src='images/rogo.png', alt='サンプル')


  //label(for='name') 名前
  //input(type='text',id='name')
  //button#send2 送信
  
  div#textform
   label(for='text') 内容
   input(type='text',id='text',size="50", maxlength="100",placeholder="つぶやきを入力してください")
   button#send(style="cursor:pointer;") 送信

  div#hukidasiList 



  div#chatAvatar
   div#chatAvatarMe
    //img(src='images/red.jpg', alt='サンプル')
   div#chatAvatarOther
    //img(src='images/blue.jpg', alt='サンプル')
    //&nbsp;&nbsp;
    //img(src='images/green.jpg', alt='サンプル')

  div#chatName
  
  //div#hikousen
  // img(src='images/hikousen.png', alt='サンプル')



  #messages
  .list
  //.hukidasi abc
  //.kome
  
  //button#random ああ
  
  div#canvasbodar
  canvas#canvasPC(width='500', height='400')
  
  div(style='font-size:20px;') カラー
  <input class="color" id="jscolor" value="#000000" style='width:140px'>

  ul
   li(style='background-color:#000')
   li(style='background-color:#777')
   li(style='background-color:#fff')
   li(style='background-color:#f00')
   li(style='background-color:#0f0')
   li(style='background-color:#00f')
   li(style='background-color:#ff0')
   li(style='background-color:#f0f')
   li(style='background-color:#0ff')
  #button2
   input#save2(type='button', value='保存',style="cursor:pointer;")
   input#clear2(type='button', value='消去',style="cursor:pointer;")

  div スポイト
   input#spuit(type='radio', name='brush',style="cursor:pointer;")
  
  //#nowcolor
  

  
  //div#backimage
  // img(src='images/backimage.png', alt='サンプル',id='ava0' )
  
  //div#popupColor


  script(src='javascripts/jquery-2.0.0.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='javascripts/chat.js')
  script(src='javascripts/jscolor.js')

