extends layout

block content
  h1 &nbsp;

  div#chatRogo_m
   a(href='/')
    img(src='images/rogo.png', alt='サンプル')


  div#textform_m
   label(for='text') 内容
   input(type='text',id='text_m',size="50", maxlength="100",placeholder="つぶやきを入力してください")
   button#send_m 送信

  div#hukidasiList_m 



  div#chatAvatar_m
   div#chatAvatarMe_m
   div#chatAvatarOther_m

  div#chatName_m
  



  #messages
  .list_m
  
  
  button#camaraSwitch(type='button',style="cursor:pointer;WIDTH: 100px; HEIGHT: 100px") Real World Picker
  
  
  div#cameraSpace(style="display:none") RealWorldPicker;
   div#incameraSpase
    video#myVideo(autoplay='1')
    canvas#c(style="border: 5px solid #ccc;")
    div 
    カメラで撮影した画像から色を抽出できます。
    br
    送信すると、同じ部屋にいる人に送信できます。
    div
     button#changeButton カメラ切り替え
     br
     input#chaptya(type='button', value='キャプチャ',style="cursor:pointer;WIDTH: 85px; HEIGHT: 30px")
     &nbsp;&nbsp;
     input#sendColor(type='button', value='送信',style="cursor:pointer;WIDTH: 85px; HEIGHT: 30px")
    br
    div#nowcolor(style="background-color: #ffffff") #ffffff
    #debug 
  
  
  


  script(src='javascripts/jquery-2.0.0.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='javascripts/chat-m.js')
  script(src='javascripts/jscolor.js')

