extends layout

block content
  div#maintop_m
   
   
   div#topRogo_m
    img(src='images/rogo.png', alt='サンプル')

   div#start アバターを選択してください
   
   div#topAvatar_m
    img(src='images/avatar0.png', alt='サンプル',id='ava0')
    img(src='images/avatar1.png', alt='サンプル',id='ava1')
    img(src='images/avatar2.png', alt='サンプル',id='ava2')
   div
    <input type="radio" name="avatar" value="avater0" checked id="radio01" style="width:50px;height:50px" />

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <input type="radio" name="avatar" value="avater1" checked id="radio01" style="width:50px;height:50px" />

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <input type="radio" name="avatar" value="avater2" checked id="radio01" style="width:50px;height:50px" />


   
   label(for='name') 名前
   input(type='text',size="25",id='name_m',placeholder="名前を入力してください")

   
   div
   br
   

   div#topMesse どこのチャットにするか選択してください
    button#serch_m(type='button',style="cursor:pointer;WIDTH: 150px; HEIGHT: 60px;") 検索
     img(src='images/serch.png', alt='サンプル',id='ava2',width="40" ,height="40",style="cursor:pointer;")


   #messages
   #serchResult
   .roomlist
   

   div#plusChat(style="cursor:pointer;")
    button#plusChatButton_m(type='button',style="cursor:pointer;padding:20px;font-size:24px") 新しいチャットを作成する
     //img(src='images/addchat.png', alt='サンプル',id='ava2',width="45" ,height="45",style="cursor:pointer;")
   
   div 
    

  script(src='javascripts/jquery-2.0.0.min.js')
  script(src='javascripts/top-m.js')
