body {

  
  padding: 0px 50px;
  
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
   background-color:#6495ED;
   background-color:#ffffff;

}

#maintop{
  width:80%;
  margin: 0 auto;
  background-color:#ffffff;
text-align: center;

}




a {
  color: #00B7FF;
}

.popup{
background-color:#99ff99;
z-index:3;
position:absolute;
    top:29px;
    left:30px;



}

.list{
position:absolute;

bottom:50px;
    right:30px;
text-align: right;

}

.hukidasi{
position:relative;


}
.chattext{
max-width:400px;
font-size:18px;
  padding: 3px 8px;

background-color: #aaffaa;  
border-radius: 10px;      



}
.chatfrom{


}
#textform{
position:absolute;

bottom:10px;
    right:30px;
text-align: right;
font-size:20px;

z-index:5;


}
#form{
font-size:30px;


}


#text{
height: 24px;
font-size:20px;

}
#name{
height: 24px;
font-size:20px;

}
#chatAvatar{
z-index:5;
font-size: 20px;

}

#chatAvatarMe{
position:absolute;
bottom:30px;
left:30px;
}

#chatAvatarMe img{
width:100px;


}

#chatAvatarOther{
position:absolute;
bottom:30px;
left:140px;
}

#chatAvatarOther img{
width:80px;

}

.roomname{

    cursor:pointer;


float:left;
font-size:24px;
width:33%;
text-align: center;
 padding: 2px 0px;
}


.roomlist{
  margin: 0 auto;
   


}

#plusChat{
clear:both;


}
.avatarOtherOne{
float:left;


}

floatEnd{
clear:both;

}

#hukidasiList{

position:absolute;
left:10px;
bottom:250px;

}
.hukiMesse{

max-width:200px;
font-size:15px;
  padding: 3px 8px;

background-color: #aaffaa;  
border-radius: 7px;      

z-index:50;
}

#chatTable{

position:relative;

right:10px;
text-align: right;

}

#chatName{
font-size:25px;
position:absolute;
    bottom:45px;
    left: 40%;
z-index:4;
   


}

#hikousen img{
position:absolute;
    top:-20px;
    left: 540px;
width:200px;
z-index:3;

}
#topAvatar img{

width:100px;
    cursor:pointer;



}

#backimage img{
z-index:-100;
position:absolute;
    left:-20px;
    bottom: -20px;
	width:110%;



}
#topRogo img{

width:300px;

}
#chatRogo img{

width:250px;
position:absolute;
    top:0px;
    left: 0px;
   cursor:pointer;

}

table{

	margin-left : auto ;

	margin-right : 0 ;
z-index:10;
	}



#popupTop{
background-color:#eeffee;
z-index:101;
position:absolute;
    top:30px;
    right:30px;
    border: 1px solid #ccc;
	border-radius: 7px; 
box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
font-size:10px;
display:none;

}
#serchResult{

padding:10px;
color:#990000;



}















#canvasbodar{
background-color:#ffffff;
z-index:-1;
 
  margin: 0 auto;

position:absolute;
    top: 100px;
    left: 20%;
    border: 5px solid #ccc;
width:500px;
height:400px;


}

#canvasPC {
  z-index:30;
  margin: 0 auto;

position:absolute;
    top: 100px;
    left: 20%;
   
}
#button2 {
    
}
#save2 {

    font-size: 120%;
    width: 45px;
    height: 45px;
}
#clear2 {
    font-size: 120%;
    width: 90px;
    height: 45px;
}
ul{
position:relative;
left:-41px;

width:150px;

}
li {
    cursor:pointer;
    cursor:hand;
    display:inline-block;
    border: 1px solid #000;
    width: 45px;
    height: 45px;
}

#nowcolor{

width: 100px;
height: 50px;
border: 2px solid #ddd;
background-color:#000000;
}

#drowIcon{
	

	font-size:50px;
	z-index:50;
	
}
.drowIconCircle{
	

	
	font-size:125px;
	
}

.drowIconTri{
	
	width:50px;
	
	position:relative; 
	top:-65px; 
	left:-5px;
	transform:rotateZ(45deg);
	font-size:40px;
	
}
.drowIconName{
	
	
	
	position:relative; 
	top:-185px; 
	left:20px;
	
	font-size:12px;
	background-color:#fbb;
	border-radius: 3px;
	padding:3px;
	display:inline-block;
}

.drowIconImg img{
	
	position:relative; 
	top:-134px; 
	left:13px;
	width:50px;
	height:auto;
}




































#maintop_m{
  width:100%;
  margin: 0 auto;
  background-color:#ffffff;
text-align: center;
  font: 35px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size:40px;

}
#topAvatar_m{
width:100%;

}
#topAvatar_m img{
width:25%;

}
.roomname_m{

float:left;
font-size:40px;
width:50%;
height:60px;
text-align: center;
 padding: 4px 0px;
}
#name_m{
height: 55px;
font-size:50px;

}
#serch_m{
height: 35px;
font-size:30px;


}







#plusChatButton_m{



}



#topRogo_m img{

width:500px;

}

#chatAvatar_m{
z-index:5;
font-size: 20px;

}

#chatAvatarMe_m{
position:absolute;
bottom:70px;
left:30px;
}

#chatAvatarMe_m img{
width:280px;


}

#chatAvatarOther_m{
position:absolute;
bottom:100px;
left:260px;
}

#chatAvatarOther_m img{
width:200px;

}
#text_m{
height: 45px;
font-size:30px;

}
#textform_m{
position:absolute;

bottom:0px;
    right:30px;
text-align: right;
font-size:30px;

z-index:5;


}
#send_m{

height: 45px;
font-size:30px;

}
.list_m{

position:absolute;
bottom:100px;
    right:10px;
text-align: right;
font-size:25px;

z-index:10;

}
.chattext_m{
max-width:600px;

font-size:36px;
  padding: 3px 8px;

background-color: #aaffaa;  
border-radius: 10px;      

z-index:10;


}
#chatRogo_m img{

width:500px;
position:absolute;
    top:0px;
    left: 0px;
}
#chatName_m{

font-size:50px;
position:absolute;
    top:200px;
    left: 10;
z-index:4;

}
#hukidasiList_m{

position:absolute;
left:10px;
bottom:550px;

}
.hukiMesse_m{

max-width:250px;
font-size:25px;
  padding: 3px 8px;

background-color: #ffaaaa;  
border-radius: 7px;      
z-index:10;

}






























#cameraSpace{




position:absolute;

top:400px;
    left:50px;
background-color: #ffdddd;  
z-index:15;

width:50%;
text-align: center;

padding: 10px;


}

#incameraSpace{


  margin: 0 auto;



}





      #myVideo{
      width: 300px;
      box-shadow: 0 0 3px gray;
      border-radius: 5px;;
      margin-bottom: 13px;
      }
      #changeButton{
      background: #7affbc;
      padding: 5px 12px;
      border: 1px solid green;
      font-size: 26px;
      text-shadow: 0 0 3px #fff;
      border-radius: 4px;
      margin-bottom: 13px;
      }
      #result_use{
      font-size: 12px;;
      color: gray;
      border:1px solid #aeaeae;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 13px;
      background: rgb(255, 251, 242);
      }
      #nowcolor{
      width: 100%;
      height: 50px;
      border: 2px solid #ddd;
      background-color:#000000;
	  color:#ffcccc;
	  font-size:32px;
      }
	  #c{
	  display:none;
	  border-radius: 5px;
	  
	  }
	  
	  #camaraSwitch{
	  
	  
	  background: #882222;
	  position:absolute;

top:300px;
    left:30px;
	border-radius: 50px;
	color:#ffffff;
	  font-size:22px;

	  
	  }
	  
	  
	  
	  
	  
	  
	  #popupColor{
	  
	  width:250px;
	  height:150px;
	  z-index:100;
	  background-color:#eeeeee;
	  
	  position:absolute;
left:120px;
top:150px;
font-size:20px;
	  border-radius: 7px;     
	  text-align: center;
      border: 1px solid #000;

padding: 30px;
display:none;
	  }
	  
	  #popupColorBox{
	  
	  width:100%;
	  height:30px;
	  background-color:#eeeeee;
	  
	  border-radius: 7px;     
	  text-align: center;
      border: 1px solid #000;
	  color:#fff;
	  font-size:30px;
	  text-shadow: black 1px 1px 0px, black -1px 1px 0px,
             black 1px -1px 0px, black -1px -1px 0px;

	  }