body {

  
  padding: 0px 50px;
  
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
   background-color:#6495ED;
   background-color:#ffffff;

}

#maintop{
  width:80%;
  margin: 0 auto;
  background-color:#ffffff;
text-align: center;

}




a {
  color: #00B7FF;
}

.popup{
background-color:#99ff99;
z-index:3;
position:absolute;
    top:29px;
    left:30px;



}

.list{
position:absolute;

bottom:50px;
    right:30px;
text-align: right;
}

.hukidasi{
position:relative;


}
.chattext{
max-width:400px;
font-size:18px;
  padding: 3px 8px;

background-color: #aaffaa;  
border-radius: 10px;      



}
.chatfrom{


}
#textform{
position:absolute;

bottom:10px;
    right:30px;
text-align: right;
font-size:20px;

z-index:5;


}
#form{
font-size:30px;


}


#text{
height: 24px;
font-size:20px;

}
#name{
height: 24px;
font-size:20px;

}
#chatAvatar{
z-index:5;
font-size: 20px;

}

#chatAvatarMe{
position:absolute;
bottom:30px;
left:30px;
}

#chatAvatarMe img{
width:100px;


}

#chatAvatarOther{
position:absolute;
bottom:30px;
left:140px;
}

#chatAvatarOther img{
width:80px;

}

.roomname{

    cursor:pointer;


float:left;
font-size:24px;
width:33%;
text-align: center;
 padding: 2px 0px;
}


.roomlist{
  margin: 0 auto;
   


}

#plusChat{
clear:both;


}
.avatarOtherOne{
float:left;


}

floatEnd{
clear:both;

}

#hukidasiList{

position:absolute;
left:10px;
bottom:250px;

}
.hukiMesse{

max-width:200px;
font-size:15px;
  padding: 3px 8px;

background-color: #aaffaa;  
border-radius: 7px;      


}

#chatTable{

position:relative;

right:10px;
text-align: right;

}

#chatName{
font-size:25px;
position:absolute;
    bottom:45px;
    left: 40%;
z-index:4;
   


}

#hikousen img{
position:absolute;
    top:-20px;
    left: 540px;
width:200px;
z-index:3;

}
#topAvatar img{

width:100px;
    cursor:pointer;



}

#backimage img{
z-index:-100;
position:absolute;
    left:-20px;
    bottom: -20px;
	width:110%;



}
#topRogo img{

width:300px;

}
#chatRogo img{

width:250px;
position:absolute;
    top:0px;
    left: 0px;
   cursor:pointer;

}

table{

	margin-left : auto ;

	margin-right : 0 ;

	}



#popupTop{
background-color:#eeffee;
z-index:101;
position:absolute;
    top:30px;
    right:30px;
    border: 1px solid #ccc;
	border-radius: 7px; 
box-shadow: 5px 5px 5px rgba(0,0,0,0.3);


}















#canvasbodar{
background-color:#ffffff;
z-index:-1;
 
  margin: 0 auto;

position:absolute;
    top: 100px;
    left: 20%;
    border: 5px solid #ccc;
width:500px;
height:400px;


}

canvas {
  z-index=10;
  margin: 0 auto;

position:absolute;
    top: 100px;
    left: 20%;
   
}
#button2 {
    
}
#save2 {

    font-size: 120%;
    width: 45px;
    height: 45px;
}
#clear2 {
    font-size: 120%;
    width: 45px;
    height: 45px;
}
ul{
position:relative;
left:-41px;

width:150px;

}
li {
    cursor:pointer;
    cursor:hand;
    display:inline-block;
    border: 1px solid #000;
    width: 45px;
    height: 45px;
}

#nowcolor{

width: 100px;
height: 50px;
border: 2px solid #ddd;
background-color:#000000;
}
















#maintop_m{
  width:100%;
  margin: 0 auto;
  background-color:#ffffff;
text-align: center;
  font: 35px "Lucida Grande", Helvetica, Arial, sans-serif;

}
#topAvatar_m{
width:100%;

}
#topAvatar_m img{
width:25%;

}
.roomname_m{

float:left;
font-size:40px;
width:50%;
height:60px;
text-align: center;
 padding: 4px 0px;
}
#name_m{
height: 55px;
font-size:50px;

}
#serch_m{
height: 35px;
font-size:30px;


}







#plusChatButton_m{



}



#topRogo_m img{

width:500px;

}

#chatAvatar_m{
z-index:5;
font-size: 20px;

}

#chatAvatarMe_m{
position:absolute;
bottom:70px;
left:30px;
}

#chatAvatarMe_m img{
width:280px;


}

#chatAvatarOther_m{
position:absolute;
bottom:100px;
left:260px;
}

#chatAvatarOther_m img{
width:200px;

}
#text_m{
height: 45px;
font-size:30px;

}
#textform_m{
position:absolute;

bottom:0px;
    right:30px;
text-align: right;
font-size:30px;

z-index:5;


}
#send_m{

height: 45px;
font-size:30px;

}
.list_m{

position:absolute;
bottom:100px;
    right:10px;
text-align: right;
font-size:25px;

z-index:10;

}
.chattext_m{
max-width:600px;

font-size:36px;
  padding: 3px 8px;

background-color: #aaffaa;  
border-radius: 10px;      



}
#chatRogo_m img{

width:500px;
position:absolute;
    top:0px;
    left: 0px;
}
#chatName_m{

font-size:50px;
position:absolute;
    top:200px;
    left: 10;
z-index:4;

}
#hukidasiList_m{

position:absolute;
left:10px;
bottom:550px;

}
.hukiMesse_m{

max-width:250px;
font-size:25px;
  padding: 3px 8px;

background-color: #ffaaaa;  
border-radius: 7px;      
z-index:10;

}






























#cameraSpace{


background-color: #ffdddd;  
z-index:15;


}







      #myVideo{
      width: 600px;
      box-shadow: 0 0 3px gray;
      border-radius: 5px;;
      margin-bottom: 13px;
      }
      #changeButton{
      background: #7abcff;
      background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));
      background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
      background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
      background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
      background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 );
      padding: 5px 12px;
      font-weight: bold;
      border: 1px solid blue;
      font-size: 16px;
      text-shadow: 0 0 3px #fff;
      border-radius: 4px;
      margin-bottom: 13px;
      }
      #result_use{
      font-size: 12px;;
      color: gray;
      border:1px solid #aeaeae;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 13px;
      background: rgb(255, 251, 242);
      }
      #nowcolor{
      width: 100px;
      height: 50px;
      border: 2px solid #ddd;
      background-color:#000000;
      }
	  #c{
	  width: 600px;
      height:300px;
	  
	  
	  }